# === ОБЩИЕ ===
ASPNETCORE_ENVIRONMENT=Production или Development

# === MySQL ===
DB_HOST=localhost
DB_PORT=3306
DB_NAME=..
DB_USER=...
DB_PASSWORD=...
DB_ROOT_PASSWORD=..
DB_VOLUME_NAME=..

# === JWT ===
JWT_KEY=key_32_chars_min

# === CORS ===
CORS_ORIGINS=http://localhost:5173
FRONTEND_API_URL=http://localhost:5000

# === Frontend ===
VITE_API_URL=http://localhost:5173
