# === ОБЩИЕ ===
ASPNETCORE_ENVIRONMENT=Production или Development

# === MySQL ===
DB_HOST=db
DB_PORT=3306
DB_NAME=cmdntDb
DB_USER=db_user
DB_PASSWORD=db_password
DB_ROOT_PASSWORD=db_root_password
DB_VOLUME_NAME=cmdnt_db_data

ADMIN_SEED_EMAIL=admin
ADMIN_SEED_PASSWORD=admin

# === JWT ===
JWT_KEY=key_32_chars_min

# === Frontend ===
DOMAIN_NAME=yourdomain.com
VITE_API_URL=/api

# === CORS ===
CORS_ORIGINS=https://yourdomain.com



