/* src/components/InputField/InputField.module.css */

/* Стили для группы формы (обёртка поля ввода и метки) */
.formGroup {
    margin-bottom: 1rem;
    position: relative;
}

/* Стили для метки */
.formLabel {
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 0.5rem;
    display: block;
}

/* Стили для поля ввода */
.formControl {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    position: relative;
}

.formControl:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(255, 167, 38, 0.1);
}

/* --- Стили для невалидного состояния --- */
.formControl.isInvalid,
.formSelect.isInvalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.formControl.isInvalid:focus,
.formSelect.isInvalid:focus {
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* --- Стили для сообщения об ошибке --- */
.invalidFeedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}


/* Добавим стили для других типов полей, если нужно */
.formSelect {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.formSelect:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(255, 167, 38, 0.1);
}

.formTextarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    font-size: 1rem;
    min-height: 120px;
    resize: vertical;
    transition: all 0.3s ease;
}

.formTextarea:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 3px rgba(255, 167, 38, 0.1);
}

@media (max-width: 768px) {
    .formGroup {
        margin-bottom: 0rem;
    }

    .formLabel {
        margin-bottom: 0.2rem;
        font-size: small;
    }

    .formControl {
        font-size: small;
    }

    .formSelect {
        font-size: small;
    }
}