.formGroup {
    position: relative;
}

.labelRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 0.25rem;
}

.formLabel {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text);
    margin: 0;
}

.formSelect {
    width: 100%;
    padding-left: 1rem;
    height: 2.5rem;
    border: 1px solid var(--color-border);
    border-radius: 0.75rem;
    font-size: 14px;
    transition: all 0.3s ease;
    color: var(--color-text-dark);
    position: relative;
    text-decoration: none;

    appearance: none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 6 7 7 7-7'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}

.formSelect:focus {
    outline: none;
    border: 1px solid var(--color-primary);
}

/* --- Стили для невалидного состояния --- */
.formSelect.isInvalid {
    border-color: var(--color-danger);
}

.formSelect.isInvalid:focus {
    border-color: var(--color-danger-hover);
    box-shadow: 0 0 0 0.2rem var(--color-shadow-danger-25);
}

/* --- Стили для сообщения об ошибке --- */
.invalidFeedback {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--color-danger);
    /* Красный цвет текста */
}

.inlineError {
    font-size: 0.875em;
    color: var(--color-danger);
    white-space: nowrap;
}

@media (max-width: 768px) {
    .formGroup {
        margin-bottom: 0rem;
    }

    .labelRow {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.15rem;
    }

    .formLabel {
        font-size: small;
    }

    .inlineError {
        white-space: normal;
    }

    .formSelect {
        font-size: small;
    }
}