/* src/components/PasswordField/PasswordField.module.css */

/* Контейнер для поля ввода и кнопки */
.passwordFieldContainer {
    position: relative;
}

.toggleButton {
    position: absolute;
    top: 50%;
    right: 1rem;
    background: transparent;
    border: none;
    color: #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    z-index: 3;
    border-radius: 4px;
    padding: 0;
}

@media (max-width: 576px) {
    .toggleButton {
        right: 0.5rem;
        padding: 0.2rem;
    }
}